<h1>ABtest Manager</h1><br>


<table border="1">
  <tr>

    <form width=30px action="/" method="get">
      <input type="hidden" name="sub_page" value="create_layer">
      <input type="submit" value="创建层" />
    </form>
    
    <form width=30px action="/" method="get">
      <input type="hidden" name="sub_page" value="create_exp">
      <input type="submit" value="创建实验" />
    </form>
    
    <form width=30px action="/" method="get">
      <input type="hidden" name="sub_page" value="exp_manage">
      <input type="submit" value="管理实验" />
    </form>
    
    <form width=30px action="/" method="get">
      <input type="hidden" name="sub_page" value="over_view">
      <input type="submit" value="实验查看" />
    </form>

  </tr>
</table>


<iframe height=700px width=1500px src="/{{sub_page}}"></iframe>