<head>
    <meta charset="UTF-8">
    <title>表单对齐</title>
    <style type="text/css">
        form{
            width: 900px;
            font:14px bold "Microsoft Yahei";
        }
        label:not(.nlabel){
            float: left;
            width: 120px;
            height: 42px;
            text-align: right;
            margin-right: 10px;
            line-height: 42px;
            color: rgb(102, 102, 102);
            font-weight: 700;
        }
    
    </style>
</head>


<h2>Over View</h2>
<form action="/over_view" method="get">
    <input type="submit" value="over_view" />
</form>

<img src="{{ url_for('static', filename='/img/overview.png')}}?random_para={{random_para}}" width="1400" height="200">